@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

#sky{
  height: 45%;
  width:100%;
  background-color: #03cffc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ground{
  height: 45%;
  width:100%;
  background-color: #13a60c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test{
  font-size: 80px;
   font-family: 'game_overregular';
   color: #1c6e13;
   -webkit-text-stroke: 2px white;
   text-shadow: 1px 1px 1px #919191,
        2px 2px 1px #919191,
        3px 3px 1px #919191,
        4px 4px 1px #919191,
        5px 5px 1px #919191,
        6px 6px 1px #919191,
        7px 7px 1px #919191,
        8px 8px 1px #919191,
        9px 9px 1px #919191,
        10px 10px 1px #919191;
    letter-spacing: .4rem;
   text-align: center;
  }