@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);



#sky{
  height: 50%;
  width:100%;
  background-color: #03cffc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ground{
  height: 50%;
  width:100%;
  background-color: #13a60c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test{
  font-size: 6vw;
   font-family: 'game_overregular';
   color: #1c6e13;
   text-shadow: 1px 1px 0 black,
        2px 2px 0 black,
        3px 3px 0 black,
        4px 4px 0 black,
        5px 5px 0 black,
        6px 6px 0 black,
        7px 7px 0 black,
        8px 8px 0 black,
        9px 9px 0 black,
        10px 10px 0 black,
        -3px -3px 0 white,
        13px 13px 0 white;
    letter-spacing: .4rem;
   text-align: center;
  }